.App {
  text-align: center;
  font-size: calc(10px + 4vmin);
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 94, 52);
}

.App-main {
    min-height: 90vh;
}

.Table {
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(74, 74, 74);
    align-items: stretch;
}

.Column {
    min-height: 30vh;
}

.PageColumn,
.DateColumn {
    max-width: 20vw;
}

.TextColumn {
    max-width: 60vw;
}
