.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 94, 52);
}

.App-main {
    min-height: 90vh;
}

.ReactTable {
    border: none;
}

.Column {
    min-height: 30vh;
}

.PageColumn,
.DateColumn {
    max-width: 20vw;
}

.TextColumn {
    max-width: 60vw;
}
